PORT=5000
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/kccDB
JWT_SECRET=kcc_super_secret_key_32chars_min
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your@gmail.com
SMTP_PASS=your_app_password
ADMIN_EMAIL=omendra@kccclasses.com
NODE_ENV=development
CLIENT_URL=http://localhost:5173
SENDGRID_API_KEY=sdsbjdgsjdbsjdsbdb
SENDER_EMAIL=test@gmail.com